@font-face {
    font-family: mr_robot;
    src: url(mr_robot.ttf);
}
@font-face {
    font-family: good_times;
    src: url(good_times.otf);
}

header {
 
    background-color: #000000;
    justify-content: center;
    align-content: center;
    display: flex;
  }


body, html {
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family:mr_robot;
    font-weight: bold;
    
}

.pimg1, .pimg2, .pimg3 {
    position: relative;
    opacity: 1.0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    background-attachment: fixed;
}

.pimg1 {
    background-image: url(media/elliot.jpg);
    min-height: 100%;

}

.pimg2 {
    background-image: url(media/darlene.jpg);
    min-height: 100%;
}

.pimg3 {
    background-image: url(media/tyrell.jpg);
    min-height: 100%;
}

.section {
    text-align: center;
    padding: 50px 80px;
    background-color: #000000;
    color: #df1919;
    text-shadow: 0px 0px 2px black;
    font-family: good_times;
    font-size: px;
}

.ptext {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #df1919;
    text-shadow: 0px 0px 2px black;
    font-size: 20px;
    letter-spacing: 8px;
    text-transform: uppercase;
    line-height: 39px;
}

.ptext .border {
    background-color: #111;
    padding: 10px;
}

